
.dm-div-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.dm-div-container:hover {
    background-color: #9797973e;
}

.trash-div .fa-trash {
    color: rgba(191, 191, 191, 0.517);
    margin-right: 15px;
    cursor: pointer;
}
