
.member-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #404249;
    padding: 20px;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
}

.server-members-setting-btn {
    display: flex;
    justify-content: center;
}

.server-member-btn {
    cursor: pointer;
    padding: 10px;
    font-family: 'PixelPal';
    font-size: 17px;
    color: #ffffff;
    background-color: rgba(46, 171, 46, 0.685);
    border-radius: 5px;
}

.server-member-btn:hover {
    background-color: rgba(51, 140, 51, 0.815);
}

.add-member-txt {
    margin-left: 10px;
}

.server-members-setting-btn button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #60636B;
}

.server-members-setting-btn button i:hover {
    color: #808490;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.server-member-list-card {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#server-members-container {
    overflow-y: auto;
}

.friendslist-profile-image.members {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.server-members-list-container {
    padding-top: 15px;
}
