@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Discord Thin';
    src: url('../../static/Uni\ Sans\ Thin.otf');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Discord Bold';
    src: url('../../static/Uni\ Sans\ Heavy.otf');
    font-weight: normal;
    font-style: normal;
}

.explore-div {
    margin-left: 60px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
}

.top-banner {
    width: 98%;
    height: 350px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.top-banner img {
    width: 100%;
}

.title-commun-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title-commun {
    color: rgb(74, 101, 198);
    font-family: 'Discord Bold';
    font-size: 30px;
    margin-top: 30px;
}

.server-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.server-card {
    height: 300px;
    width: 340px;
    margin: 10px;
    border: rgb(133, 133, 133) 1px solid;
    border-radius: 20px;
    position: relative;
}

.card-upper-bg {
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-upper-bg img {
    width: 100%;
}

.card-gray-bg {
    width: 100%;
    flex-basis: 100%;
    height: 150px;
    background-color: rgb(31, 31, 31);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.public-server-name {
    font-family: 'PixelPal';
    margin-top: 30px;
    color: rgb(233, 161, 53);
    font-size: 22px;
    text-shadow: 0 0 10px rgba(255, 128, 0, 0.8);
    cursor: pointer;
}

.member-count-div {
    color: rgb(127, 230, 136);
    margin-top: 10px;
}

.public-server-member-count {
    font-family: 'PixelPal';
    color: rgb(127, 230, 136);
    margin-left: 5px;
    font-size: 18px;
}

.explore-img {
    position: absolute;
    top: 40%;
    left: 42%;
    cursor: pointer;
}

.center-server-pic {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: block;
    background-color: rgb(24, 24, 24);
    padding: 2px;
}

.join-ser-div {
    margin-top: 15px;
    cursor: pointer;
}

.join-ser-card {
    font-family: 'Discord Bold';
    color: rgb(74, 155, 195);
}

.join-ser-card:hover {
    text-shadow: 0 0 10px rgba(89, 178, 223, 0.8);
}

.already-joined-div {
    margin-top: 10px;
    cursor: pointer;
}

.already-joined-card .fa-check {
    color: whitesmoke;
    background-color: #A67B5B;
    padding: 5px;
    border-radius: 50%;
}

.already-joined-card .fa-check:hover {
    box-shadow: 0px 0px 10px 0px rgba(139, 69, 19, 0.5);
}
