@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Discord Thin';
    src: url('../../static/Uni\ Sans\ Thin.otf');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Discord Bold';
    src: url('../../static/Uni\ Sans\ Heavy.otf');
    font-weight: normal;
    font-style: normal;
}


.friendslist-all.pend {
    background-color: transparent;
}

.profile-pic-div.pending {
    border: none;
}

.friendslist-sugg.pend {
    display: inline-flex;
}

.friendslist-pending.pend {
    background-color: rgb(66,68,74);
    display: inline-flex;
}

.friendslist-all.pend:hover, .friendslist-pending.pend:hover, .friendslist-blocked.pend:hover {
    background-color: rgb(66,68,74);
}

.friendslist-container {
    position: absolute;
    right: 0;
}

.spacing-add-friend.pending {
    width: 100%;
}

.friendslist-user-container-1.pending {
    font-family: 'Discord Bold';
    font-size: 15px;
    margin-top: 15px;
}
