@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Discord Thin';
    src: url('../../static/Uni\ Sans\ Thin.otf');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Discord Bold';
    src: url('../../static/Uni\ Sans\ Heavy.otf');
    font-weight: normal;
    font-style: normal;
}

.friendslist-user-container-1.sugg {
    font-family: 'PixelPal';
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.friendslist-all.sugg {
    background-color: transparent;
}

.friendslist-sugg.sugg {
    background-color: rgb(66,68,74);
    display: inline-flex;
}

.red-bg-amt {
    border-radius: 50%;
    background-color: rgb(243, 48, 48);
    width: 20px;
    height: 20px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num-strangers {
    font-size: 12px;
}

.friendslist-all.sugg:hover, .friendslist-pending.sugg:hover, .friendslist-blocked.sugg:hover {
    background-color: rgb(66,68,74);
}

.icon-hover.sugg .fa-check:hover {
    color: green;
}

.icon-hover.sugg .fa-xmark:hover {
    color: rgba(255, 0, 0, 0.609);
}

.error-add-friend-div {
    margin-top: 10px;
    color: rgb(234, 71, 71);
    font-family: 'PixelPal';
}
